body {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	justify-content: space-around;
	padding: 2dvh 0 1dvh;
}

.header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.navigation .menu-navigation {
	display: flex;
	gap: 50px;
	list-style: none;
}

.logo {
	color: var(--logo-span-color);
	font-family: var(--font-logo);
	font-size: 25px;
}

.menu-navigation a {
	color: var(--color-nav-paragraph);
	font-family: var(--font-mulish);
	font-weight: 600;
}

.menu-navigation a:hover {
	color: #000;
	transition: 0.3s;
}

.main {
	align-items: center;
	display: grid;
	flex-grow: 1;
	grid-template-columns: 1fr 1fr;
}

.image-fitness {
	display: flex;
	justify-content: end;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 600px;
}

.main .about h1 {
	color: #000;
	font-family: var(--font-mulish);
	font-size: 50px;
	font-weight: 400;
}

.main .about .text-color {
	color: var(--logo-span-color);
	font-weight: 600;
}

.main .about p {
	color: var(--color-nav-paragraph);
	font-family: var(--font-open-sans);
	line-height: 25px;
}

.about .negrito-text {
	font-weight: 800;
}

.about button {
	align-items: center;
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: var(--font-dm-sans);
	gap: 10px;
	justify-content: center;
	margin-top: 30px;
	padding: 1rem 2rem;
	width: fit-content;
}

.about button:hover {
	box-shadow: 0px 0px 40px 3px rgba(105, 185, 157, 0.66);
	transition: 0.4s;
	-moz-box-shadow: 0px 0px 40px 3px rgba(105, 185, 157, 0.66);
	-webkit-box-shadow: 0px 0px 40px 3px rgba(105, 185, 157, 0.66);
}

.footer {
	display: flex;
	justify-content: center;
}

.footer p {
	font-family: var(--font-open-sans);
}

@media (max-width: 1600px) {
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
